div{
    height:200px;
    width: 200px;
    border-style: dashed;
    border-color: black;
    border-width: 10px;
    border-radius: 20%;
    color: brown;
    font-size: 30px;
    padding:20px 50px 40px;
    margin: 20px;
}